@use 'normalize';
@use "variables/global";
@use 'themes/light';
@use 'themes/dark';

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  font: var(--font-m);
  color: var(--primary-color);

  background-color: var(--bg-color);
}

.layout {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 20px;
}