@use 'normalize';
@use "variables/global";
@use 'themes/light';
@use 'themes/dark';

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}

.layout {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 20px;
}