.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #F8F9FA;
  --accent-color: #339AF0;
  --success-color: #51CF66;
  --primary-color: #E9ECEF;
  --secondary-color: #ADB5BD;
  --inverted-primary-color: #212529;
  --inverted-secondary-color: #6C757D;
}
