.app.light {
  --bg-color: #F8F9FA;
  --inverted-bg-color: #121212;

  --accent-color: #007BFF;
  --success-color: #28A745;

  --primary-color: #212529;
  --secondary-color: #6C757D;
  --inverted-primary-color: #E9ECEF;
  --inverted-secondary-color: #ADB5BD;
}
